
<h1 class="mb-1 restaurant-show-title">{{rest.name}}</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <input type="checkbox" name="isDone" {{#if rest.isDone}} checked{{/if}} disabled>
      <a class = 'btn btn-outline-info btn-sm' href="/restaurants/{{rest._id}}/edit">edit</a>
      <form action="/restaurants/{{ rest._id }}?_method=DELETE" method="POST" style="display: inline;">
            <button class = 'btn btn-outline-danger btn-sm' type="submit">delete</button>
      </form>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-utensils pr-2"></i>
          類別：
        </span>
        {{rest.category}}
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-map-marker-alt pr-2"></i>
          地址：
        </span>
        {{rest.location}}
        <a href="{{rest.google_map}}" class="text-secondary" target="_blank">
          <i class="fas fa-location-arrow pr-2 fa-xs"></i>
        </a>
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-mobile-alt pr-2"></i>
          電話：
        </span>
        {{rest.phone}}
      </p>

      <p class="mb-5">
         {{rest.description}}
      </p>

      <img class="rounded mx-auto d-block mb-4 w-100" src="{{rest.image}}" alt="{{rest.name}}" style="max-width: 600px;">
    </div>
  </div>
</div>